*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 8px;   
  }
  body::-webkit-scrollbar-track {
    background:black;        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgba(117, 117, 121, 0.725);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }
  
header{
    position: fixed;
    width: 100%;
    z-index: 9999999;
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 230, 230);
    padding: 20px 90px;
}
.logo{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}
.nav{
    padding: 1em;
    text-decoration: none;

}
.nav:visited{
    color: blue;
}
/* class nav of navigation bad content  */
nav a{
    font-size:16px;
    font-weight: 500;
}

.nav:hover{
    background-color: rgb(155, 155, 169);
    border-radius: 15px;
}

section{
    /* padding: 100px 200px; */
    padding: 100px;
}
.main{    
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 240vh;
}
.box{
    margin: 50px auto;
    width: 60vw;
    height: 40vh;
    border: 10px solid black;
}
.box h2{
    text-align: center;
    margin-top: 20px;
    
}
.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.box .big1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.box .big2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.box p{
    font-size: 25px;
    font-weight: 400;
    float: left;
    margin: 20px;
}

.branches{
    margin: auto;
    border: 11px solid rgba(255, 255, 255, 0.786);
    width: 60vw;
    height: 40vh;
}
.branches h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.branches ul{
    list-style-position: inside;
    margin-left: 15px;
    margin-top: 10px;
}
.phone{
    width: 60vw;
    height: 40vh;
    margin: auto;
}
.phone h3{
    text-align: center;
}
.phone h2{
    margin-top: 5.625rem;
    margin-bottom: 8px;
    font-size: 28px;
    text-align: center;
}

.gallery-image {
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    margin: auto;
  }
  
  .gallery-image img {
    height: 200px;
    width: 300px;
    border-radius: 5px;

  }
  
  .img-box {
    margin: 10px;
    height: 200px;
    width: 300px;
  }
  



footer{
    height: 12.311901504787961vh;
    width: 100%;
    background-color: #003049;
}
footer h3{
    color: rgb(248, 239, 239);
    background-color: black;
    

}
.icons_foot {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: 10px;
}
.icons_foot a{
    margin-right: 15px;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}














@media (max-width:1000px){
    header{
        display: inline-block;
        height: 80px;
        z-index: 9999999;
        padding: 3px 0px;
        font-size: 20px;
    }
    
    .logo{
        text-decoration: none;
        color: black;
        /* font-weight: bold; */
        font-size: 0.9em;
        margin-left: 09x;
    }
    .nav{
        padding: 0.4em;
        text-decoration: none;
        font-size: 9pz;
    
    }
    .nav:visited{
        color: blue;
    }
    /* class nav of navigation bad content  */
    nav a{
        font-size:12px;
        font-weight: 500;
    }

    section{
        padding: 2.5rem;
    }
    .main{    
        background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);    background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 380vh;
    }
    .box{
        margin: 70px auto;
        width: 72vw;
        height: 65vh;
    }
    
    
    .branches{
        margin: auto;
        border: 11px solid rgba(255, 255, 255, 0.786);
        width: 72vw;
        height: 65vh;
    }
    .branches h2{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .branches ul{
        list-style-position: inside;
        margin-left: 15px;
        margin-top: 10px;
    }
    .phone{
        width: 60vw;
        height: 40vh;
        margin: auto;
    }
    .phone h3{
        text-align: center;
    }
    .phone h2{
        margin-top: 5.625rem;
        margin-bottom: 8px;
        font-size: 28px;
        text-align: center;
    }
    .gallery-image {
        /* padding: 20px; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 80vw;
        margin: auto;
      }
      
      .gallery-image img {
        height: 150px;
        width: 250px;
        border-radius: 4px;
      }
      
      .img-box {
        margin: 10px;
        height: 150px;
        width: 250px;
      }
      
      footer{
        height: 12.311901504787961vh;
        width: 100%;
        background-color: #003049;
    }
    footer h3{
        color: rgb(248, 239, 239);
        background-color: black;
        font-size: 15px;
    
    }
    .icons_foot {
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
        margin-top: 10px;
    }
    .icons_foot a{
        margin-right: 15px;
        font-size: 1.5em;
        color: rgb(255, 255, 255);
    }
}
